#:schema https://raw.githubusercontent.com/YunoHost/apps/master/schemas/manifest.v2.schema.json

packaging_format = 2

id = "benevalibre"
name = "Bénévalibre"
description.en = "Makes it easier to manage and promote voluntary work in associations"
description.fr = "Facilite la gestion et la valorisation du bénévolat dans les associations"

version = "2.0.1~ynh1"

maintainers = ["eric_G"]

[upstream]
license = "AGPL-3.0-only"
website = "https://benevalibre.org/"
demo = "https://benevalibre.sloli.fr/"
admindoc = "https://app.benevalibre.org/docs/administration/index.html"
userdoc = "https://app.benevalibre.org/docs/utilisation/index.html"
code = "https://forge.cliss21.org/cliss21/benevalibre"

[integration]
yunohost = ">= 12.1.38"
helpers_version = "2.1"
architectures = "all"
multi_instance = true

ldap = false
sso = false

disk = "50M"
ram.build = "50M"
ram.runtime = "50M"

[install]

    [install.domain]
    type = "domain"

    [install.init_main_permission]
    type = "group"
    default = "visitors"

[resources]

    [resources.sources]
    [resources.sources.main]
    url = "https://forge.cliss21.org/cliss21/benevalibre/archive/v2.0.1.tar.gz"
    sha256 = "7515bf959b73b956ceb967351c7e299cbb3668a53d35f9c770eb72e00d93ced6"
    autoupdate.strategy = "latest_gitea_tag"
    prefetch = false

    [resources.system_user]

    [resources.install_dir]
    group = "www-data:r-x"
    
    [resources.permissions]
    main.url = "/"

    [resources.ports]

    [resources.apt]
    packages = "postgresql, postgresql-contrib, make, python3-dev, python3-venv, python3, python3-pil, python3-psycopg2"

    [resources.database]
    type = "postgresql"
