#:schema https://raw.githubusercontent.com/YunoHost/apps/master/schemas/tests.v1.schema.json

test_format = 1.0

[default]

    # ------------
    # Tests to run
    # ------------

    test_upgrade_from.4c9198a5b35387354fddde10159e533c6138d11d.name = "Upgrade from 1.6.2~ynh2"
