#:schema https://raw.githubusercontent.com/YunoHost/apps/master/schemas/tests.v1.schema.json

test_format = 1.0

[default]

    # ------------
    # Tests to run
    # ------------

    test_upgrade_from.bc348a75ab1701762161322aaf4a6a3866d0449a.name = "Upgrade from 1.6.2~ynh2"